* {
  text-decoration: none;
  color: rgb(88, 88, 88);
}

.fas {
  color: rgb(87, 92, 200);
}

/* < Alert > */
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 0.6rem;
  font-size: 2rem;
  border: 2px solid;
  border-radius: 10px;
}
.alert-danger {
  color: #dc3545;
  border-color: #dc3545;
}
.alert-success {
  color: #28a745;
  border-color: #28a745;
}
/* </ Alert > */

/* < Layout > */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 4.5rem;
  margin: 0;
}
.menu {
  font-size: 2.5rem;
}
/* </ Layout > */

/* < ToDo > */
.todo-list {

}
.todo-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.todo-date, .todo-loc {
  width: 40%;
  margin: 0;
}
.todo-del {
  background-color: #dc3545;
  color: #fff;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0;
  border-radius: 5px;
  width: 5%;
}
/* </ ToDo > */

/* < Landing > */
.quote {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 25vh;
}

.quote > * {
  text-align: center;
}
/* </ Landing > */


/* mobile */
@media (max-width: 767px) {
  .title {
    font-size: 4rem;
  }
  .menu {
    font-size: 1.8rem;
  }
  .quote {
    top: 20vh;
  }
}